<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text 2</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/text_2.css">
</head>

<body>
    <p class="tahoma">
        This is Tahoma Font
    </p>

    <p class="deal">
        Biggest Deals of the Year!
        <br>
        <span class="deal_2">Sales end Tuesday</span>
    </p>

    <p class="verdana_header">
        HTML CSS Course 
    </p>

    <p class="verdana_sub">
        Beginner to Pro
    </p>

    <p class="verdana_text">
        In this course, we'll learn the skills you need to become a developer.
    </p>
    <button class="verdana_button">Get Started</button>
    <br>
    <a href="http://127.0.0.1:8000/index" class="back_btn">Back</a>
</body>