<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu</title>
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/index.css">
    </head>


    <body>
        <h1>Menu</h1>
        <button class="buttons" id="DHT11Data">DHT11 data</button>
        <button class="buttons" id="Calculator">Calculator</button>
    
    <script>
        console.log("index: ok");
        
        document.getElementById("Calculator").addEventListener("click", async function() {
            await navigateToProtectedPage("/calculator");
        });

        document.getElementById("DHT11Data").addEventListener("click", async function( ){
            await navigateToProtectedPage("/arduino/dht11");
        });

        async function navigateToProtectedPage(endpoint) {
            const user_token = localStorage.getItem("access_token");

            if (!user_token) {
                alert("No acces token. Please log in");
                window.location.href = "/login";
                return;
            }

            const token_response = await fetch(endpoint, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Bearer ${user_token}`
                }
            });

            if (token_response.ok) {
                const htmlContent = await token_response.text();
                document.body.innerHTML = htmlContent;
                
                window.history.pushState({path: endpoint}, '', endpoint);

            } else {
                alert("Invalid token. Redirecting to login.")
                windows.location.href = "/login";
            }
        }
    </script>
    
    
    
    
    </body>
</html>