<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu</title>
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/index.css">
    </head>


    <body>
        <h1>Menu</h1>
        <a class="buttons" href="http://192.168.0.105:8000/pcb/slave">PCB Slave</a>
        <a class="buttons" href="http://192.168.0.105:8000/pcb/master">PCB master</a>
        <a class="buttons" href="http://192.168.0.105:8000/buttons/basics">Basic Html</a>
        <a class="buttons" href="http://192.168.0.105:8000/buttons/buttons_1">Buttons 1</a>
        <a class="buttons" href="http://192.168.0.105:8000/buttons/buttons_2">Buttons 2</a>
        <a class="buttons" href="http://192.168.0.105:8000/text/text_1">Text 1</a>
        <a class="buttons" href="http://192.168.0.105:8000/text/text_2">Text 2</a>
        <a class="buttons" href="http://192.168.0.105:8000/searcher">Searcher</a>
        <a class="buttons" href="http://192.168.0.105:8000/submit">Submit user</a>
        <a class="buttons" href="http://192.168.0.105:8000/arduino/dht11">DHT11 data</a>
    </body>
</html>