<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/submit_user.css">

</head>
<body>
    <form id="login_form" action="/login" method="post">
        <input class="email" name="username" type="email" placeholder="Email">
        <input class="pswd" name="password" type="password" placeholder="Password">
        <button type="login" class="sign_up_btn">Login</button>
    </form>

    <script>
        document.getElementById('login_form').addEventListener('submit',async function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);

            const response = await fetch("/login", {
                method: 'POST',
                body: formData
            });

            if (response.ok){
                const data = await response.json(); // Get JSON response
                const token = data.access_token; // Extract the access token

                // Store the token in localStorage (or sessionStorage)
                localStorage.setItem("access_token", token);

                // Redirect to another page
                window.location.href = "/index"
            } else {
                const errorData = await response.json();
                alert("Error: ${errorData.detail}");
            }

        });
    </script>

</body>
</html>



<!-- 
const token = localStorage.getItem('access_token');

// Use the token in your requests as needed
const response = await fetch('/some_protected_route', {
    method: 'GET',
    headers: {
        'Authorization': `Bearer ${token}`
    }
}); -->