<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/submit_user.css">

</head>
<body>
    <form id="login_form" action="/login" method="post">
        <input class="email" name="email" type="email" placeholder="Email">
        <input class="pswd" name="password" type="password" placeholder="Password">
        <button type="login" class="sign_up_btn">Login</button>
    </form>

    <script>
        document.getElementById('login_form').addEventListener('login',async function(event) {
            event.preventDefault();

            const formData = {
                email: event.target.email.value,
                password: event.target.password.value
            };

            const response = await fetch("/login", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });    

            const data = await response.json();
            // document.body.innerHTML = result;
            console.log('Server response:', data);
        });
    </script>

</body>
</html>