<head>
    <title>Buttons 2</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" href="../static/css/buttons_2.css">
</head>


<body>
    <button class="pag_buttons">Back</button>
    <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div>
    <button class="pag_buttons">Next</button>
    <br>
    <br>
    <button class="stretch">Stretch</button>
    <br>
    <br>
    <button class="shadow">Shadow</button>
    <br>
    <br>
    <button class="together">One</button>
    <button class="together">Two</button>
    <button class="together">Three</button>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/index" class="back_btn">Back</a>
</body>