<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    const user_token = localStorage.getItem('access_token');
    console.log(user_token);
  
    if (user_token) {
        fetch("/arduino/dht11", {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ${token}'
            }
        })
    };
  </script>
</body>
</html>

