.tahoma{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
}

.deal {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.deal_2 {
    font-style: italic;
    font-size: 15px;
    color: rgb(204, 69, 69);
    font-weight: normal;
}

.verdana_header {
    font-family: Verdana;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0px;

}

.verdana_sub {
    font-family: Arial;
    font-weight: lighter;
    color: rgb(134, 121, 121);
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.verdana_text {
    font-family: Arial;
    width: 280px;
    font-weight: bold;
}

.verdana_button {
    background-color: rgb(3, 100, 3);
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: padding 0.25s,
                opacity 0.1s;
}

.verdana_button:hover {
    padding-left: 20px;
    padding-right: 20px;
}

.verdana_button:active {
    opacity: 0.75;
}

.back_btn {
    background-color: rgb(116, 170, 221);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: padding 0.25s;
}

.back_btn:hover {
    padding-left: 20px;
    padding-right: 20px;
}

.back_btn:active {
    opacity: 0.75;
}