<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/back_btn.css">
    
</head>



<body>
    <div style="text-align: center;">
        <img ali src="../static/images/pcb_master.jpg" alt="pcc" width="400" height="400">
        <br>
        <br>
        <a href="http://127.0.0.1:8000/index" class="back_btn">Back</a>
    </div>
</body>
</html>