<!DOCTYPE html>
<html lang="en">
<head>
    <title>Searcher</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/submit.css">
</head>
<body>
    <form id="signup_form" action="/submit" method="post">
        <input class="f_name" name="first_name" type="text" placeholder="First name">
        <input class="l_name" name="last_name" type="text" placeholder="Last name">
        <input class="email" name="email" type="email" placeholder="Email">
        <button class="sign_up_btn">Sign Up</button>
    </form>
</body>
</html>